<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/header}"></head>
<body>

<header>
    <nav th:replace="~{/fragments/navbar}"></nav>
</header>
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <main class="jumbotron text-center rounded col-md-12 align-self-center">
                <div class="justify-content-center">
                    <h1>Employee Details</h1>
                </div>
                <div th:object="${employee}"
                             class="row">
                    <div class="col-md-6 bg-dark">
                        <h2>Employee</h2>
                        <h4>First Name: <strong th:text="*{firstName}"></strong></h4>
                        <h4>Last Name: <strong th:text="*{lastName}"></strong></h4>
                        <h4>Education Level: <strong th:text="*{educationLevel}"></strong></h4>
                        <h4>Job title: <strong th:text="*{jobTitle}"></strong></h4>
                        <h4>Birthdate: <strong th:text="*{birthDate}"></strong></h4>
                        <h4>Salary: <strong th:text="(*{salary} + ' $')"></strong></h4>
                        <h4>Company: <strong th:text="*{company}"></strong></h4>
                        <div class="align-bottom">
						<a class="btn btn-danger align-bottom"
                                                     href="/">Delete employee</a>
                        </div>
                    </div>
                    <div class="col-md-6 bg-dark"><img src="/pic/employee.png" height="350px"></div>
                </div>
            </main>
        </div>
    </div>
</main>
<footer th:replace="~{/fragments/footer}"></footer>
</body>
</html>