<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/header}"></head>
<body>

<header>
    <nav th:replace="~{/fragments/navbar}"></nav>
</header>
<main>
    <div class="container">
        <h2 class="text-center text-dark bg-light rounded-circle mt-5">All employees</h2>
        <hr style="width: 50%"/>
        <div class='row mb-4 d-flex justify-content-around'>

            <div th:each="employee: ${employees}"
                 th:object="${employee}"
                 class="col-md-4 d-flex flex-column bg-text mb-3 rounded">
                <h2>Full name: <strong th:text="(*{firstName} + ' ' + *{lastName})"></strong></h2>

                <h4>Job title: <strong th:text="*{jobTitle}"></strong></h4>

                <h4>Birth Date: <strong th:text="*{birthDate}"></strong></h4>

                <h4><a class="btn-block" th:href="@{'/employees/' + *{id}}">Detail info</a></h4>
            </div>

        </div>
    </div>
</main>

<footer th:replace="~{/fragments/footer}"></footer>
</body>
</html>