<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/header}"></head>
<body>

<header>
    <nav th:replace="~{/fragments/navbar}"></nav>
</header>
<main>
    <div class="container">
        <h2 class="text-center text-dark bg-light rounded-circle mt-5">All employees</h2>
        <hr style="width: 50%"/>
        <div th:object="${employee}" th:each="employee: ${employees}" class='row mb-4 d-flex justify-content-around'>

            <div class="col-md-4 d-flex flex-column bg-text mb-3 rounded">
                <h2>Full name: <strong th:text="(*{firstName} + ' ' + *{lastName})"></strong></h2>
                <h4>Job title: <strong th:text="*{jobTitle}"></strong></h4>
                <h4>Birth Date: <strong th:text="*{birthDate}"></strong></h4>
                <h4><a class="btn-block" th:href="@{'/employees/' + *{id}}">Detail info</a></h4>
            </div>
<!--            <div class="col-md-4 d-flex flex-column bg-text mb-3 rounded">-->
<!--                <h2>Full name: {firstName} {lastName}</h2>-->
<!--                <h4>Job title: {jobTitle}</h4>-->
<!--                <h4>Birth Date: {birthDate}</h4>-->
<!--                <h4><a class="btn-block" href="/">Detail info</a></h4>-->
<!--            </div>-->
<!--            <div class="col-md-4 d-flex flex-column bg-text mb-3 rounded">-->
<!--                <h2>Full name: {firstName} {lastName}</h2>-->
<!--                <h4>Job title: {jobTitle}</h4>-->
<!--                <h4>Birth Date: {birthDate}</h4>-->
<!--                <h4><a class="btn-block" href="/">Detail info</a></h4>-->
<!--            </div>-->

        </div>
    </div>
</main>

<footer th:replace="~{/fragments/footer}"></footer>
</body>
</html>